@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Orbitron', Arial, sans-serif; /* 默认字体为 Orbitron，备用 Arial */
  scroll-snap-type: y mandatory; /* Enables snap scrolling */
  overflow-y: scroll; /* Necessary for snap scrolling to work */
}

.section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #E7ECEF;
  text-align: center;
  scroll-snap-align: start; /* For smoother scrolling */
  overflow: hidden; /* Prevents content overflow */
  flex-direction: column;
}

#section1 {
  background-color: #E7ECEF;
}

#section2 {
  background-color: #6096BA;
}

#section3 {
  background-color: #E7ECEF;
}

#section4 {
  background-color: #6096BA;
}

/*For scroll down button*/
.bottom-paragraphs {
  margin-top: auto; /* 将 bottom-paragraphs 推到父容器的底部 */
}

/*Page 1 Part*/
.title_page1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #E7ECEF; /* 添加背景色以区分标题区域 */
  color: #6096BA;
  text-align: center;
}

.title_page1 h1 {
  font-size: 2.5rem;
  margin: 0;
}


.title_page1 p {
  font-size: 1rem;
  margin: 0;
}

/*Social Links*/
.social-links {
  margin-top: 20px;
  display: flex;
  gap: 15px; /* 图标之间的间距 */
  vertical-align: middle;
}

.social-links a img {
  width: 40px; /* 设置图标大小 */
  height: 40px;
  border-radius: 5px; /* 可选：圆角效果 */
  transition: transform 0.3s ease; /* 添加平滑过渡效果 */
}

.social-links a img:hover {
  transform: scale(1.2); /* 鼠标悬停时放大效果 */
}


canvas {
  background-color: #E7ECEF;
}

/*Page 2 Part*/
.title_page2 {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #E7ECEF;
  text-align: center;
}
.title_page2 h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.project-container {
  display: flex; /* 使用Flexbox布局 */
  flex-wrap: wrap; /* 允许项目换行 */
  justify-content: center; /* 水平居中对齐 */
  gap: 20px; /* 项目之间的间距 */
  margin-top: auto; /* 将 bottom-paragraphs 推到父容器的底部 */
}

.project {
  display: block; /* 使链接成为块级元素 */
  width: 20vw; /* 设置图片宽度 */
  height: 30vh; /* 设置图片高度 */
  border-radius: 10px; /* 圆角 */
  overflow: hidden; /* 隐藏超出容器的图片部分 */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* 阴影效果 */
  transition: transform 0.2s ease-in-out; /* 添加过渡效果 */
}

.project:hover {
  transform: scale(1.05); /* 鼠标悬停时放大 */
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* 保持图片比例并填充容器 */
}

/*Page 3 Part*/
.skills-section {
  display: flex;
  flex-direction: column; /* 改为 column，使标题和内容垂直排列 */
  align-items: center; /* 水平居中对齐整个 section */
  width: 90%; /* 添加宽度限制，例如 90% 的父容器宽度 */
  max-width: 100vw; /* 可选：添加最大宽度 */
  margin: 20px auto; /* 上下外边距，左右自动，实现居中 */
}

.skills-section h1 {
  text-align: center;
  color: #6096BA;
  margin-bottom: 20px; /* 标题和内容之间添加间距 */
  font-size: 2.5rem;
}

.skills-category {
  width: 100%; /* 使 category 填充 section 的宽度 */
  margin-bottom: 20px;
}

.skills-category h2 {
  margin-bottom: 10px;
  color: #6096BA;
  font-size: 2rem;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%; /* 使 container 填充 category 的宽度 */
  justify-content: center; /* 使技能在容器中居中 */
}

.skill {
  position: relative;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 14px;
  transition: transform 0.2s;
  box-sizing: border-box; /* 包含 padding 和 border 在元素总宽度和高度之内 */
}
.skill:hover {
  transform: scale(1.1);
}




.skill:hover .tooltip {
  display: block;
}

/*section4 */
.ball-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

.ball {
  width: 8vw; /* 使用视口宽度作为单位 */
  height: 4vw; /* 保持圆形比例 */
  max-width: 100px; /* 设置最大宽度 */
  max-height: 50px; /* 设置最大高度 */
  min-width: 50px; /* 设置最小宽度 */
  min-height: 25px; /* 设置最小高度 */
  border-radius: 5vw;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.8vw; /* 字体大小跟随圆圈比例 */
  color: #E7ECEF;
  cursor: pointer;
  position: relative;
}


.ball.border-programming { border: 10px solid #D88393; }
.ball.border-protocol { border: 10px solid #E7AF9C; }
.ball.border-funarea { border: 10px solid #FDF5BF; }
.ball.border-lang { border: 10px solid #7EC9B9; }
.ball.border-tools { border: 10px solid #CFB0D4; }
.ball.border-soft { border: 10px solid #6A0136; }
.ball.fill-advanced { background-color: #bd9391; color: #000; }
.ball.fill-intermediate { background-color: #037171; }
.ball.fill-beginner { background-color: #a9e5bb; }

 .tooltip{
    display: none;
    position: absolute; /* Use fixed positioning */
    bottom: 20px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: #8B8C89;
    color: #E7ECEF;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000; /* Ensure it's on top */
    width: 40vw; /* 90% of viewport width */
    max-height: 20vh; /* Limit maximum height */
    overflow-y: auto; /* Add scrollbar if content overflows */
    box-sizing: border-box; /* Include padding in width calculation */
    white-space: normal;
    text-align: left;
    overflow-wrap: break-word;

}
.ball:hover .tooltip {
  display: block;
}

.filter-options {
  margin-top: 20px;
  text-align: center;
  font-size: 2vh;
}
/* Skill level colors */

.beginner {
  background-color: #a9e5bb;
}
.intermediate {
  background-color: #037171;
}
.advanced {
  background-color: #bd9391;
}
.programming{
  border: 10px solid #D88393;
  background-color: transparent;
}
.protocol { 
  border: 10px solid #E7AF9C; 
  background-color: transparent;
}
.funarea { 
  border: 10px solid #FDF5BF; 
  background-color: transparent;
}
.lang { 
  border: 10px solid #7EC9B9; 
  background-color: transparent;
}
.tools {
   border: 10px solid #CFB0D4; 
    background-color: transparent;
  }
.soft { border: 10px solid #6A0136; background-color: transparent;}

.legend-item {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin-right: 5px;
}
